.App {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}
.App2 {
  background-color: #eba9aa;
  position: sticky;
  top: 0px;
  height: 940px;
  /* border: 1px solid; */
  width: 20%;
}
.App3 {
  border-bottom: 1px solid grey;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  background-color: #63C5E0;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.top-Navbar {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: black;
  /* color: white; */
}
.body-Navbar {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: black;
  /* color: white; */
}
.drawer {
  display: none;
}
.body {
  width: 80%;
}
.top-Navbar {
  display: none;
}
@media (max-width: 890px) {
  .App2 {
    display: none;
  }
  .drawer {
    display: block;
  }
  .body {
    width: 100%;
  }
  .top-Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .body-Navbar {
    display: none;
  }
  .App3 {
    border-bottom: 1px solid grey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    gap: 10px;
    border-radius: 20px;
  }
  .App3:nth-child(2) {
    font-size: 5px;
  }
  .body .info{
    width: 100%;
  }
}
